<div class='main'>
    <div class='row'>
      <img src='http://placehold.it/200/ddd' />
      <img src='http://placehold.it/200x100/ccc/f5f5f5' />
      <img src='http://placehold.it/100/bbb/f5f5f5' />
      <img src='http://placehold.it/100/aaa/f5f5f5' />
    </div>
    <div class='row'>
      <div class='column'>
        <img src='http://placehold.it/136x100/999/f5f5f5' />
        <img src='http://placehold.it/136x100/888/f5f5f5' />
      </div>
      <img src='http://placehold.it/264x200/777/f5f5f5' />
    </div>
  </div>