.App-header {
  background-color: rgba(109, 209, 235, 0.5);
  height: 150px;
  padding: 20px;
 
}
.App-footer {
  background-color: rgba(243, 240, 240, 0.671);
  height: 302px;
  padding: 60px;
  color: rgb(2, 2, 2);
}
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}


body {
 
  text-align: center;
  color: rgb(29, 27, 27);
  padding-top: 10em;
}
.search {
  position: relative;
  left: 150px;
  margin-top: -140px;
}
.social-section mt-2 {
  float: inherit;
  padding: 30px;
}
.footer-copyright {
  padding: 40px;
}
.facbook {
  padding: 10px;
}
.twitter {
  padding: 10px;
}
.instagram {
  padding: 10px;
}
.FAQ {
  text-align: left;
}
.Contact {
  text-align: center;
}
.About {
  text-align: center;
}
body{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7d1x_RMdxhuhkPPl1xNT8WVt2dCldR2SjnBmbbE6KBPt_yQCN); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 }
 .Back {
  text-align: left;
}
.form-group {
  margin-left: 20em;
  margin-right: 20em;
  padding-top: 1em;
}
#update {
  padding: 10px;
  margin: 2em;
}
#abstract{
  display:flex;
  flex-wrap:wrap;
  height: 100%;
  width: 100%;
}
#abstract1{
  display:flex;
  flex-wrap:wrap;
  height: 70%;
  width: 80%;
}
#logo{
  width:400px;
  height:100px;
}

